<section class="mainLogin">
  <div class="login">
    <img class="img" src="../../assets/logo.png" alt="Finger Digital" title="Finger Digital">
    <form action="">
      <div class="containerInput">
        <p>Email</p>
        <input class="input" type="email" required>
      </div>

      <div class="containerInput">
        <p>Senha</p>
        <input class="input" type="password" required>

      </div>

      <div><button class="btn"  type="submit" [routerLink]="['/']"  >Login</button></div>
    </form>
  </div>
</section>
